.phone-icon{
    width: 0.6875rem;
    height: 0.6875rem;
    fill: #ab3f22;
  
}
.vk-icon{
    width: 100%;
    height: 100%;
    fill:#FFFFFF;

  
}
.fb-icon{
    width: 100%;
    height: 100%;
    fill:#FFFFFF;

}
.arrow-scroll-icon{
    width: 1.8125rem;
    height: 0.9375rem;
    fill:#FFFFFF;
  
}
.inst-icon{
    width: 100%;
    height:100%;
    fill:#FFFFFF;
  
}
.twitter-icon{
    width: 100%;
    height: 100%;
    fill:#FFFFFF;
}
.hand-icon{
    width: 100%;
    height: 100%;
    fill:#f8b43a;
}
.natural-icon{
    width: 100%;
    height: 100%;
    fill:#8ac03e;

}

.meat-icon{
    width: 100%;
    height: 100%;
    fill: #e25028;
}

.burger-icon{
    width: 43px;
    height: 43px;
    fill: white;
    flex: 0 0 auto;
}
.beef-icon, .sauce-icon{
    width: 50px;
    height: 40px;
    fill: #e25028;
    flex: 0 0 auto;
}
.cheese-icon, .buns-icon{
    width: 50px;
    height: 40px;
    fill: #f8b43a;
    flex: 0 0 auto;
}
.cucumber-icon, .salad-icon{
    width: 50px;
    height: 40px;
    fill: #8fc247;
    flex: 0 0 auto;
}
.kkal-icon{
    width: 62px;
    height: 62px;
    fill:#FFFFFF;
    position: relative;
}
.close-icon{
    width: 18px;
    height: 18px;
    fill:#FFFFFF;
}